.row {
  padding-bottom: 10px;
}
.ft {
  font-family: "Pangolin", "Lucida Grande", cursive;
}
.pb {
  font-family: "Nanum Brush Script", "Lucida Grande", cursive;
}
#work {
  font-family: "Happy Monkey", "Lucida Grande", cursive;
  padding-top: 20%;
}
.navbar {
  width: 100%;
}
#center-menu {
  float: none;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#container-padding {
  padding-top: 5px;
}
.col-lg {
  padding-bottom: 5px;
}
.img-thumbnail {
  border: none !important;
}
