.row {
  padding-bottom: 10px;
}
.ft {
  font-family: "Pangolin", cursive;
}
.pb {
  font-family: "Nanum Brush Script", cursive;
}
#work {
  font-family: "Happy Monkey", cursive;
  padding-top: 20%;
}
